.aspk_container{
	padding: 1.5em;
	width: 80em;
}
.aspk-col-hdr{
	background: white;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: large;
	text-align: center;
}
.aspk-col-data{
	margin-bottom: 5px;
	text-align: center;
}
.mustFill{
	border: 1px solid !important;
    border-color: red !important;
}

#content{
	min-height: 25em !important;
}

#report_container .row{
	border-bottom: 1px solid;
}